@model IEnumerable<MVCProject.Models.userTbl>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>CardNumber</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.id</td>
            <td>@user.name</td>
            <td>@user.email</td>
            <td>@user.passwrd</td>
            <td>@user.cardNumber</td>
            <td>@user.phone</td>
            <td>@user.addres</td>
        </tr>
        }
    </tbody>
</table>

